.mainContent1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../imgs/background1.jpg') no-repeat;
  background-size: cover;
}

.mainContent2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../../imgs/background2.jpeg') no-repeat;
  background-size: cover;
}

.authorName {
  color: navajowhite;
}

button:focus,
button:hover {
  outline: 0;
  border: solid 2px lightblue;
}
