.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  margin: 1em auto;
  max-width: 80%;
}

p {
  font-family: 'Lora', serif;
  font-size: 4em;
  color: deepskyblue;
  margin: .5em 0;
}

.author {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: salmon;
  text-align: right;
}

button {
  border-radius: 2px;
  border: none;
  padding: 8px;
  background-color: deepskyblue;
  color: white;
  font-family: 'Helvetica', sans-serif;
}